* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #32533D;
    overflow: auto;


}

.githubButton {
    color: snow;
    list-style: none;
    margin-top: 50px;


}

.githubButton a {
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #E3B505;
    padding: 15px 30px;
    border-radius: 25px;
}

.githubButton a:hover {
    transition: 0.3s ease-in-out;
    color: #fff;

    background-color: #f49e0a5f;
    transition: 0.3s ease-in-out;
}


.input {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;


}


.input input {

    width: 60%;
    height: 60px;
    border-radius: 20px;
    border: none;
    padding: 0 40px;
    font-size: 1.2rem;
    overflow: scroll;

}

.searchResult {
    margin-top: 10px;
    background-color: #E4D9FF;
    width: 60%;
    scrollbar-width: none;
    border-radius: 20px;
    padding: 10px 20px;
    list-style: none;
    max-height: 250px;
    overflow-y: scroll;
    transition: opacity 2s ease-in-out;
}



.searchResult li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
    border-bottom: 0.5px solid rgba(191, 188, 188, 0.556);


}



.active {
    background-color: #66717E;
}

.searchResult li:hover {
    background-color: rgba(138, 138, 141, 0.607);
    cursor: pointer;
}



.input label {
    margin: 0;
    padding: 0;
    transform: translateX(-40px);
    font-size: 1.5rem;
    color: gray;
}


.bodyText h3 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.388);
    padding: 10px 0;
}

.bodyText p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.input textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    background-color: white;
    transform: translate(10px);
    border-radius: 20px;
    padding: 20px;
    padding-right: 50px;

    min-width: 60%;
    max-width: 60%;
    scrollbar-width: none;


}

::-webkit-resizer {
    display: none;
}

.selectedBody {
    font-size: 1.3rem;
}