* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #32533D;
    overflow: auto;


}




.input {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;


}


.input input {

    width: 60%;
    height: 60px;
    border-radius: 20px;
    border: none;
    padding: 0 40px;
    font-size: 1.2rem;
    overflow: scroll;

}

.searchResult {
    margin-top: 10px;
    background-color: #E4D9FF;
    width: 60%;
    scrollbar-width: none;
    border-radius: 20px;
    padding: 10px 20px;
    list-style: none;
    max-height: 250px;
    overflow-y: scroll;
    transition: opacity 2s ease-in-out;
    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.searchResult li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
    border-bottom: 0.5px solid rgba(191, 188, 188, 0.556);


}



.active {
    background-color: #66717E;
}

.searchResult li:hover {
    background-color: rgba(138, 138, 141, 0.607);
    cursor: pointer;
}



.input label {
    margin: 0;
    padding: 0;
    transform: translateX(-40px);
    font-size: 1.5rem;
    color: gray;
}


.bodyText h3 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.388);
    padding: 10px 0;
}

.bodyText p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.input textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    background-color: white;
    transform: translate(10px);
    border-radius: 20px;
    padding: 20px;
    padding-right: 50px;
    line-height: 1;
    min-width: 60%;
    max-width: 60%;
    scrollbar-width: none;
    min-height: 100px;
    max-height: 100px;


}

::-webkit-resizer {
    display: none;
}

.selectedBody {
  display: inline-block;

}





.githubButton a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 25px;
}


.githubButton {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 10px 40px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 50px;

}

.githubButton:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}